/* ### Primary

- Dark Blue: hsl(233, 26%, 24%)
- Lime Green: hsl(136, 65%, 51%)
- Bright Cyan: hsl(192, 70%, 51%)

### Neutral

- Grayish Blue: hsl(233, 8%, 62%)
- Light Grayish Blue: hsl(220, 16%, 96%)
- Very Light Gray: hsl(0, 0%, 98%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size: 18px

### Font

- Family: [Public Sans](https://fonts.google.com/specimen/Public+Sans)
- Weights: 300, 400, 700 */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

:root {
  /* ### Primary */

  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);

  /* ### Neutral */

  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Public Sans', sans-serif;
}

.header__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.hero__navlinks ul li {
  display: inline-block;
  padding: 0.8rem 0.8rem;
}

.hero__navlinks ul li a {
  text-decoration: none;
  color: var(--grayish-blue);
}

.hero-btn {
  padding: 0.8rem 1.8rem;
  border-radius: 3rem;
  border: none;
  background-color: var(--lime-green);
  color: var(--white);
}






.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}