@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

$font-family: 'Public Sans', sans-serif;

$bright-red: hsl(12, 88%, 59%);
$dark-blue: hsl(228, 39%, 23%);

$gray: hsl(227, 12%, 61%);
$very-dark-blue: hsl(233, 12%, 13%);
$very-pale-red: hsl(13, 100%, 96%);
$very-light-gray: hsl(0, 0%, 98%);

$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$light: hsl(0, 0%, 96%);

$dark-blue: hsl(233, 26%, 24%);
$lime-green: hsl(136, 65%, 51%);
$bright-cyan: hsl(192, 70%, 51%);

$grayish-blue: hsl(233, 8%, 62%);
$light-grayish-blue: hsl(220, 16%, 96%);
$very-light-gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-family;
    font-size: 18px;
}

header {
    width: 100%;
    height: 6rem;
    padding: 0.1rem 0;
    background: $white;
    position: relative;
    z-index: 10;
}

.header__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1.5rem auto;
    background: $white;
    position: relative;
    z-index: 10;
}

.hero__navlinks {
    
    ul {
        li {
            display: inline-block;
            padding: 0.8rem 0.8rem;
            a {
                text-decoration: none;
                color: $grayish-blue;
            }
        }
    }

}

.hero-btn {
    padding: 0.8rem 1.8rem;
    border-radius: 3rem;
    border: none;
    font-weight: 700;
    background: $lime-green;
    background: linear-gradient(
        90deg,
        $lime-green 0%,
        $bright-cyan 100%
    );
    color: $white;
}

main {
    width: 100%;
    min-height: 10git 0vh;
}

.hero {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
}

.hero__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 1px solid blue;
}

.hero__img {
    flex: 1;
    border: 1px solid black;
    position: relative;
}

.bg-intro-desktop {
    display: block;
    position: absolute;
    margin-top: -39rem;
    margin-left: 1rem;
    z-index: 0;
}

.mockup-img {
    display: block;
    position: absolute;
    top: 0;
    margin-top: -30.5rem;
    margin-left: 13rem;
}

.hero__info {
    flex: 1;
    padding: 1rem;
    border: 1px solid black;
    h1 {
        font-size: 4rem;
        padding-bottom: 2rem;
    }
    p {
        font-size: 1.2rem;
        line-height: 2rem;
        padding-bottom: 2rem;
    }
}
